useDynLib(fastEmbedR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, dist)
export(umap)
export(fastEmbedR_backend)
export(fastEmbedR_capabilities)
export(fastEmbedR_api)
export(umap_knn)
export(umap_init)
export(prepare_umap_knn)
export(landmark_umap)
export(tsne)
export(tsne_pca_init)
export(pca)
export(tsne_knn)
export(prepare_tsne_knn)
export(precompute_knn)
export(precompute_query_knn)
export(select_landmarks)
export(fit_landmark_model)
export(project_landmark_model)
export(landmark_tsne)
export(transform_tsne)
export(evaluate_embedding)
export(embed_knn)
export(knn_graph)
export(graph_cluster)
S3method(print,fastEmbedR_embedding)
S3method(print,fastEmbedR_knn)
S3method(plot,fastEmbedR_embedding)
S3method(print,fastEmbedR_graph)
S3method(print,fastEmbedR_graph_cluster)
S3method(print,fastEmbedR_umap_initialization)
