useDynLib(fastknnumap, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, dist)
export(fast_knn_umap)
export(nn)
export(umap_knn)
export(landmark_knn_graph)
export(landmark_knn_umap)
export(knn_embed)
export(knn_tsne)
export(knn_pacmap)
export(knn_trimap)
export(knn_localmap)
export(load_fashion_mnist)
export(load_mnist)
export(load_pendigits)
export(load_shuttle)
export(load_embedding_dataset)
export(benchmark_fashion_mnist)
export(benchmark_embed)
export(benchmark_embedding_datasets)
export(benchmark_metref)
export(benchmark_singlecell)
export(benchmark_knn_umap)
