useDynLib(fastEmbedR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, dist)
export(umap)
export(umap_knn)
export(landmark_umap)
export(opentsne)
export(opentsne_pca_init)
export(opentsne_knn)
export(landmark_tsne)
export(transform_tsne)
export(evaluate_embedding)
export(embed_knn)
S3method(print,fastEmbedR_embedding)
S3method(plot,fastEmbedR_embedding)
